<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Job Network</title>

    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/main.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Job Network</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/person/all">Person list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company/all">Company list</a>
            </li>
        </ul>
    </div>
</nav>
<h1>All companies</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col"/>
        <th scope="col"/>
        <th scope="col"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company: ${companies}">
        <td th:text="${company.name}" />
        <td th:text="${company.size}" />
        <td>
            <button
                    type="button"
                    class="btn btn-success"
                    th:onclick="'window.location.href=\'/position?company=' + ${company.id} + '\''">
                Add job offer
            </button>
        </td>
        <td><button type="button" class="btn btn-info">Update</button></td>
        <td>
            <button
                    type="button"
                    class="btn btn-danger"
                    th:onclick="'window.location.href=\'/company/delete/' + ${company.id} + '\''"
            >
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" th:onclick="'window.location.href=\'/company\''">Add company</button>

</body>
</html>