<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Neo4j App</title>

    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.css">

    <script type="text/javascript" th:src="@{~/js/main.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h1>Add position</h1>

    <form
            action="#"
            th:action="@{/position(compId=${compId})}"
            th:object="${position}"
            method="post"
            class="needs-validation"
            novalidate
    >
        <div class="form-group">
            <label for="name">Position name</label>
            <input
                    type="text"
                    th:field="*{name}"
                    class="form-control"
                    id="name"
                    placeholder="Enter position name"
                    required
            >
            <div class="invalid-feedback">
                Please enter position name.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>